* {
    /* font-family: 'Cormorant Garamond', serif; */
    font-family: 'Cormorant Infant', serif;
    /* border: 1px solid #f00 !important; */
}

a {
    text-decoration: none;
    color: black;
}

footer {
    font-size: .5rem;
    background-color:#B58999;
    width: 100%;
}

footer p {
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

h1 {
    font-size: 1.5em;
}

h2 {
    background-color: white;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5rem;
    margin: 0rem 1rem;
}

h3 {
    font-size: 1.25em;
    padding: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h4 {
    margin-top: .5em;
    font-size: .75em;
    padding: .25rem;
}

header {
    background-color:white;
    size: relative;
    padding-bottom: .5em;
}

header img, .headings {
    display: inline-block;
	vertical-align: middle;
    margin: .5em;
}

hr {
    margin-bottom: -12px;
}

iframe {
    width: 100%;
}

figure img {
    width: 100%;
}

main figure {
    width: 100%;
}

main p {
    background: white;
    color: #3F5A70;
    padding: .5rem;
    margin-top: 0;
}

nav, ul {
    background-color: #F7F7F7;
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1rem;
    margin: 0rem 1rem; 
}

ul li {
    padding: .5rem 2rem;
}

/* Classes */
.aboutTemple {
    position: absolute;
    z-index: 1000;
    top: 230px;
    width: 35%;
    opacity: .85;
}

.call {
    text-align: center;
    align-self: center;
}

.article {
    background-color:white;
    color: #3F5A70;
    margin-top: -1.5em;
    padding: .5em;
    margin-bottom: .5em;
}

.contact {
    background-color: white;
    color: #3F5A70;
    padding: 0.25em .5em;
    margin-bottom: .5em;
}

.currentpage { 
    color:#B58999;
    font-style: italic;
}

.forecast {
    display: none;
}
header {
    padding-bottom: 0rem;
}

hr {
    margin-top: .25rem;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image2  {
    float: top; 
    margin-top: 0;
    margin-left: 0;
}

.learn {
    background-color: #F7F7F7;
}

.logo {
    border:2px solid white;
    width: 35px;
    height: 45px;
    align-self: center;
    margin-top: 0;
}

.makeReservation {
    background-color: #B58999;
    border: 1px solid #6B2A3D;
}

.motto {
    margin-top: -1.5em;
    font-size: .7em;
}

.parallax-home {
    background-image: url("../images/provo-city-center-large.jpg");
    height: 425px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:-1rem;
}

.parallax-services {
    background-image: url("../images/san-diego-temple-sunset.jpg");
    height: 425px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:-1rem;
}

.parallax-temples {
    background-image: url("../images/washington-dc-summer-large.jpg");
    height: 425px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:-1rem;
}

.smallerFont {
    font-size: 1rem;
}

.summary {
    color: #3F5A70;
    background-color: white;
    padding: .5em;
    margin-bottom: .5em;
}



/* grid */
figcaption {
    padding: 0.5em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}
.shadow {
    margin-left: 0;
    margin-right: 0;
    background-color: white;
    color: #3F5A70;
    width: 100%;
    border: 1px white solid;
}



/* Form Format */

div input {
    display: block;
    margin: .5rem .5rem;
    margin-bottom: 1rem !important;
}

div input span {
   margin-left: 4rem;
}

form {
    display: block flex;
    margin-bottom: .5rem;
    background-color: white;
    color: black;
    padding: .5em;
}

form div {
    margin-top: 5px;
}

form div input, select {
    margin-bottom: .5rem;
}

label, select {
    display: block;
    margin-left: .5rem;
}

.current-icon {
   display: flex;
}

.links {
    padding-bottom: 1rem;
}

.links a {
    padding-left: 1.5rem;
}

.links div {
    padding-top: 2rem;
}

.services-page {
    padding-top: 1.5rem;
}

.roomNumber {
    display: inline-block !important;
}

.weather-summary {
   float: top;
} 


#additional {
    display:block;
    width: 380px;
    height: 150px;
    padding: 10px 10px;
    margin-left: .5rem;
    box-sizing: border-box;
    resize: none;
    text-align: start;
    
}

/* Homepage */
#homegrid {
    margin-top: .5rem;
    border-bottom:0;
}

#homegrid h3 {
    margin-bottom: .5rem;
}

#homegrid h4 {
    height: 1rem;
}


@media screen and (max-width:500px) {
    h1 {
        margin-top: -.5em;
    }

    .headings {
        text-align: center;
    }

    .hurricane {
        display: none;
    }

    .image1 {
        display: none;
    }

    ul {
        justify-content: start;
    }
    
    .hide li {
        list-style-type: none;
        align-content: center;
        font-size: .75em;
        padding: .5em;
    }

    .motto {
        padding-top: .5rem;
    }

    /* Contact Page */
    .reception {
        display: none;
    }

    .reception-table {
        display: none;
    }

    .room {
        display: none;
    }


/* hamburger */
    .hide {
        display: block;
    }

    nav button {
        margin: .2rem 2%;
        background-color: transparent;
        border: none;
    }

    nav ul li.active a{
        color: #9FC6C1;
        display: block;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    nav ul.hide {
        display: none;
    }
    
    nav ul li a {
        display: block;
    }

    form div input, select{
        width: 100%;
    }
/* 5-day forecast */
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

/* home page */
    #homegrid {
        display: flex;
        flex-direction: row;
        flex-wrap: none;
        margin-top: 0;
        margin-bottom: .5rem;
        border: 0;
    }

    #homegrid figcaption {
        flex-direction: column;
        width: 40%;
    }

    #homegrid h3 {
        margin-top: 0;
    }

    #homegrid img {
        width: 55%;
        height: 55%;
        padding: .5rem;
    }

}
