* {
    font-family: 'Ubuntu', sans-serif;
}

table {
    border-collapse: collapse;
    box-shadow: 10px 10px 20px #628ca6;
    text-align: center;
}

td, th{
    border: 1px solid silver;
}

tbody td {
    text-align: center;
    padding: .475em;
}

thead td {
    padding: .25em;
}

tfoot td {
    padding: .75em;
}

th {
    background-color: #628ca6;
    color: white;
    font-size: 1.2em;
    padding: .4em;
}
tr:first-child{
    background-color: #7fb9c2 !important;
}

tr:nth-child(even) {
    background-color: #e7f0ed;
}

tr:nth-child(odd) {
    background-color: #e7ffed
}

tr:nth-child(6) {
    font-style:italic;
}

td:nth-child(2) {
    font-style: normal;
}

thead tr{
    font-weight: bold;
    font-size: 1.75em;
    padding: 2em;
}

tfoot tr{
    font-size: .75rem;
}

.different {
    background-color: #628ca6;
    color: #e7f0ed;
}