@media screen and (min-width:850px) {
    a:hover {
        font-weight: bold;
    }

    .article {
        margin-top: 8px;
    }

    body {
        margin-left: .5em;
        margin-right: .5em;
    }

    .current {
        margin-bottom: .5em;
    }

    #current-icon {
        float: left;
        height: 8rem;
    }

    footer {
        font-size: .8em;
    }

    .forecast {
        display: table;
        background-color:white;
        color: #3F5A70;
        padding: .5em;
        margin-bottom: .5em;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1em;
    }

    h1 {
        margin-top: -.25em;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
    }

    .headings {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }

    iframe {
        width: 50%;
    }

    .image1 {
        float: left;
        margin-bottom: 0rem;
        margin-right: .5rem;
    }
    
    .image2 {
        float: right;
        padding-left: 1rem;
        margin-right: -.5em;
        margin-left: .5rem;
        margin-bottom: 0rem;
    }

    .image1, .image2  {
        padding-right: .5em;
        margin-left: 0;
        margin-top: 0;
    }

    li {
        display: inline-block;
        align-content: flex-end;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 1em;
        padding-bottom: 1em;
        justify-content: flex-start
    }

    .logo {
        width: 120px;
        height: 100px;
        align-self: flex-start;
    }

    main {
        margin-left: 10em;
        margin-right: 10em;
    }

    main figure {
        width: 35%;
    }

    .motto {
        text-align: left;
        padding-top: .5rem;
        padding-top: .5rem;
    }

    nav {
        display: inline-flex;
        flex-direction: row;
        margin-top: -1rem;
    }

    #nav-toggle {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    nav button {
        display: none;
    }

    .shadow:hover {
        box-shadow: 0 0 20px white;
    }

    .summary {
        float: top;
        margin-top: 8px;
    }

    #forecast-icon {
        padding-bottom: 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
    }

    td img, tr {
        text-align: center;
    }

    th {
        height: 25px;
        width: 100%;
    }

    td>img {
        width: 50%;
    }

    table, th {
        width: 100%;
        border: 1px solid #3F5A70;
    }

    td {
        border-left: 1px solid #3F5A70;
        height: 25px;
    }

    ul {
        flex-direction: row;
    }
}
