@media screen and (min-width:605px) {
    .home, .preston, .soda, .fish, .storm, .gallery {
        display: inline;
    }

    li {
        display: inline;
        padding: 1.5em;
    }

    a:hover {
        font-weight: bold;
    }

    #nav-toggle {
        display: none;
    }
}